:root {
    --page-width: 706.9667;
    --page-height: 499.8861;
    --page-margin-h: 16.9000;
    --page-margin-v: 15.8000;
}

* { box-sizing: border-box; margin: 0; padding: 0; }

@page {
    size: calc(var(--page-width) * 1mm) calc(var(--page-height) * 1mm);
    margin: 0;
}

html, body {
    width: calc(var(--page-width) * 1mm);
    margin: 0; padding: 0;
    background-color: transparent !important;
}

.page {
    width: calc(var(--page-width) * 1mm);
    height: calc((var(--page-height) * 0.998) * 1mm);
    background-color: white !important;
    display: grid;
    grid-template-columns: calc(var(--page-margin-h) * 1mm) 1fr calc(var(--page-margin-h) * 1mm);
    grid-template-rows: calc(var(--page-margin-v) * 1mm) 1fr calc(var(--page-margin-v) * 1mm);
    break-after: page;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 0.5mm solid blue;
}

@media print {
    .page { border: none; box-shadow: none; }
    .subpage { border: none; }
}
