.subpage {
    position: relative;
}

/*Hide page counter on first page*/
div.page:first-child div.subpage::after,
div.page:nth-child(2) div.subpage::after {
    display: none;
}

/* Start counting from page 3 (technically it is counting beforehand but the counter is hidden) */
div.page:nth-child(3) {
    counter-reset: page;
}

/*Begin Counting on second page*/
div.page:not(:first-child) {
    counter-increment: page;
}

/*page numbers*/
div.subpage:after {
    content: " Page - " counter(page);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 999;
    padding: 2px 8px;
    border-right: 2px solid #23b8e7;
    font-size: 12px;
}

p {
    line-height: 1.4;
    font-family: Verdana;
}

a.primary_index {
    color: black !important;
    text-decoration-line: none !important;
    font-size: 16px;
}

.code-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.code-container-sub {
    display: block;
    margin: 0px !important;
    background: #e6e6e6;
    padding: 1px 24px 1px 24px;
    width: 90%;
}

code {
    word-wrap: break-word;
    white-space: pre-wrap;
    color: green;
    font-size: 13px;
}

th {
    height: 25px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1px;
    font-style: normal;
    font-family: "helvetica";
    color: white;
    font-weight: bold;
    padding-left: 16px;
    border: solid #002E4D 1px;
    background-color: #002E4D;
}

td.field {
    height: 33px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-family: "Times New Roman";
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    border: solid darkgrey 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

table.fixed {
    table-layout: fixed;
    letter-spacing: .25px;
    border-collapse: collapse;
    width: 100%;
}

table.fixed td {
    overflow: auto;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 0;
    font-family: "helvetica";
}

h1.title {
    font-family: "Comic Sans MS";
    position: relative;
}

h4 {
    /* font-family: "garmond"; */
    margin-bottom: 0px;
    /* padding-left: 20px; */
}

ul {
    font-family: "Verdana";
    font-size: 18px;
    list-style-type: none;
    /* Remove bullets */
    background: pink;
    padding: 10px 20px 10px 20px;
}

ul.index {
    background: inherit;
    padding: inherit;
}

li {
    margin-top: 12px;
}

li.header {
    font-size: 18px;
    margin-top: 12px;
}

li.index-item {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
}

ul.leaders {
    margin-left: 20px;
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}

ol {
    font-family: "Verdana";
    font-size: 14px;
    background: pink;
}

ol>li {
    margin: 0;
    padding-top: 6px
}

ol li.box:first-child {
    padding-top: 16px;
}

ol li.box:last-child {
    padding-bottom: 16px;
}

/* @media print {
    a {
        /* color: black !important; */
        /*text-decoration-line: none !important;
    }
} */

ol.index {
    background: none;
}

ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . . . . . . ."
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white
}

ul.leaders span+span {
    float: right;
    padding-left: 0.33em;
    background: white
}

p {
    font-family: Verdana;
    font-size: 14px;
}

.code-caption {
    display: block;
    width: 100%;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}

.checkerboard {
    width: 400px;
    height: 400px;
    background: conic-gradient(#f2f2f2 90deg, #d9d9d9 90deg 180deg, #f2f2f2 180deg 270deg, #d9d9d9 270deg);
    background-size: 25px 25px;
}

figure figcaption {
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
}

img {
    display: flex;
    margin: auto;
}

img.fullwidth {
    display: flex;
    margin: auto;
    width: 100%;
    object-fit: contain;
    padding: 10px;
}

svg {
    display: flex;
    margin: auto;
    object-fit: contain;
    padding: 10px;
}

s {
    color: black !important;
}

hr.frontpage {
    border: none;
    height: 10px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
}
